node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/screenshot/*

tests/uploadFiles/*

# this part is my dev_process
note/correct.txt
note/error.txt
note/t0.txt
note/t1.txt
log.txt
.bosidian/*
.obsidian/*
.obsidian/*.*
note/ssssss.txt

javascript_ip.js
bmc_update.js
note/dev_process/

# Mon Feb  5 17:16:46 CST 2024
/note/changelove/

# Tue Feb  6 11:22:13 CST 2024
/UPLOADFILES/*
#!/UPLOADFILES/IS-5121_v1.1.18N.ima
# !/UPLOADFILES/ANCHOR.java
## need give  a folder

# Tue Feb 20 14:55:30 CST 2024
#pic/DR.delay.catch.ip.png
## because the pic always change ...but I didn''t touch it ==
### because need to up gitlab....  Wed Feb 21 16:26:31 CST 2024

## Tue Feb 27 15:01:43 CST 2024
####{{{--------------------------------------------------
#### this is for chiang chiang love queen  to do list XDDD
tem_process.md
####--------------------------------------------------}}}

### Fri Mar  8 18:01:45 CST 2024
TEST RECORD/*

CBS_XXXX_stress.txt
tem_linux_bbu/

.vscode/

### Tue May 21 15:41:36 CST 2024
# /UPLOADFILES/*.*
### because the anchor.java again to track
### == my error ....plz look 32Line.... I too many time not do the auto test...


### Mon Jun  3 16:11:34 CST 2024
result/*

##### Wed Jun 12 10:39:04 CST 2024
##### this is playwright didnt work and update the latest version and auto generator
tem_*
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

/pic/ipmitool_elist_wc*.*